<nav class="ns-section-main">
  <div class="ns-section-wrapper">
    <a id="ns-home" href="/">
      <%= image_tag "ns-logo.png"%>
    </a>
    <!-- #ns-home -->
    <ol id="ns-navigation">
      <li><a href="/">Home</a></li>
      <li><a href="/catalog">Buy</a></li>
      <li><a href="/sell">Sell</a></li>
      <li><a href="/faq">FAQ</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/login">Login</a></li>
    </ol>
    <!-- #ns-navigation -->
  </div>
  <!-- .ns-section-wrapper -->
</nav>
<!-- nav.ns-section-main -->