/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require main
 *= require onepage-scroll
 *= require_tree ./components
 */


path.plotline {
  stroke: steelblue;
  stroke-width: 3;
  fill: none;
}

path.area{
  opacity: 0.3;
}

circle.circle{
  stroke: white;
  stroke-width: 5;
}