/****************************************************************************************************
  0.  SCSS Variables
****************************************************************************************************/


/* Color Theme */
/************************************************/

$color-primary: #6bc6b5;
$color-secondary: #20484a;
$color-tertiary: #cd252f;
$color-accent: #20484a;

$color-anchor-text: #20484a;
$color-body-text: #404040;
$color-header-text: #404040;

$color-line: #e6e6e6;

$color-body-background: #ffffff;
$color-page-background: #ffffff;

$color-top-bar-background: rgba(40, 38, 39, .2);
$color-top-bar-text: #ffffff;

$color-footer-background: #191818;
$color-footer-text: #ffffff;

$color-button-background: #191818;
$color-button-text: #ffffff;

$color-form-input-outline: transparent;
$color-form-input-background: rgba(255, 255, 255, .33);
$color-form-input-text: #404040;

$color-red-light: #ff8b89;
$color-red-medium: #f45f5c;
$color-red-dark: #f43431;

$color-yellow-light: #f8e193;
$color-yellow-medium: #f6c02e;
$color-yellow-dark: #eca117;

$color-teal-light: #86d8d3;
$color-teal-medium: #72b4b0;
$color-teal-dark: #499a96;

$color-blue-light: #a4b1d9;
$color-blue-medium: #353b4e;
$color-blue-dark: #2a3045;

$white: #ffffff;

$color-table-line: #d0d1d1;
$color-table-zebra: #e8e9e9;


@mixin input-placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; } 
}



/* Layout Sizing */
/************************************************/

$height-top-bar: 60px;
$height-top-bar-collapsed: 40px;

$font-body-text-size: 14px;
$font-body-text-line-height: 20px;


/* Media Size Breakpoints */
/************************************************/

$monitor-breakpoint: 1200px;
$laptop-breakpoint: 980px;
$tablet-breakpoint: 768px;
$phone-breakpoint: 480px;

@mixin screen-format($media-type) {
  @if $media-type == monitor {
    @media (min-width: $monitor-breakpoint) { @content; }
  }
  @else if $media-type == laptop {
    @media (min-width: $laptop-breakpoint) and (max-width: $monitor-breakpoint - 1) { @content; }
  }
  @else if $media-type == tablet {
    @media (min-width: $tablet-breakpoint) and (max-width: $laptop-breakpoint - 1) { @content; }
  }
  @else if $media-type == phone {
    @media (min-width: $phone-breakpoint) and (max-width: $tablet-breakpoint - 1) { @content; }
  }
  @else if $media-type == nano {
    @media (max-width: $phone-breakpoint - 1) { @content; }
  }
}

/* Susy Grid Settings */
/************************************************/

$total-columns: 12;
$column-width: 56px;
$gutter-width: 48px;
$grid-padding: 0;


/* Font Stacks */
/************************************************/



$font-header: 'Oswald', 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-body: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-accent: 'Montserrat', 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

$font-icons: "SSStandard";
$font-icons-social: "SSSocial";


@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general/clearfix";
@import "compass/utilities/general/hacks";
@import "susy";

@import "shared/_button";
@import "shared/_form";


html {
  height: 100%;
  // overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
  font-family: $font-body;
  font-size: $font-body-text-size;
  line-height: $font-body-text-line-height;
  font-weight: 400;
  color: $color-body-text;
  -webkit-font-smoothing: antialiased;
  background: $color-page-background;
}








/* Scaffolding Tools */
/************************************************/

.ns-section-main {          // This class denotes a main page section.
  display: inline-block;
  float: left;
  width: 100%;
  color: $white;
  > .ns-section-wrapper {   // This class wraps content inside of a main page section, to give it width.
    display: block;
    padding: 0 20px;
    margin: 0 auto;
    @include legacy-pie-clearfix;
    @include screen-format(monitor) {
      width: $monitor-breakpoint - 40px; // The subtraction of 40px accounts for the container padding.
    }
  }
}


/* Main Page Section: Navigation */
/************************************************/

nav.ns-section-main {
  height: $height-top-bar;
  background: rgba(40, 38, 39, .2);
  color: $color-top-bar-text;
  position: fixed;
  top: 0;
  left: 0;
  @include transition-property(background);
  @include transition-duration(.5s);
  @include transition-timing-function(ease-in);
  @include screen-format(phone) {
    width: 100%;
    height: 100%;
    background: rgba(40, 38, 39, 1);
  }
  @include screen-format(nano) {
    width: 100%;
    height: 100%;
    background: rgba(40, 38, 39, 1);
  }
  a#ns-home {
    display: inline-block;
    float: left;
    height: $height-top-bar;
    width: 200px;
    > img {
      display: inline-block;
      float: left;
      height: $height-top-bar;
      width: 150px;
    }
  }
  ol#ns-navigation {
    display: inline-block;
    float: right;
    height: $height-top-bar;
    @include screen-format(phone) {
      width: 100%;
    }
    @include screen-format(nano) {
      width: 100%;
    }
    > li {
      display: inline-block;
      float: left;
      height: $height-top-bar;
      @include screen-format(phone) {
        width: 100%;
        height: $height-top-bar-collapsed;
      }
      @include screen-format(nano) {
        width: 100%;
        height: $height-top-bar-collapsed;
      }
      > a {
        display: inline-block;
        float: left;
        height: $height-top-bar;
        margin: 0 0 0 40px;
        line-height: $height-top-bar;
        color: $color-top-bar-text;
        font-family: $font-accent;
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        @include screen-format(phone) {
          width: 100%;
          height: $height-top-bar-collapsed;
          margin: 0;
        }
        @include screen-format(nano) {
          width: 100%;
          height: $height-top-bar-collapsed;
          margin: 0;
        }
      }
    }
  }
}

nav.ns-section-main.ns-nav-shadow-state {
  background: rgba(40, 38, 39, .9);
}




/* Main Page */
/************************************************/

#ns-angular-app {
  display: inline-block;
  float: left;
  width: 100%;
  height: 100%;
  background: #d4d6da;
}
#ns-page-main {   // This holds all the content that can slide right when the slider is activated in "mobile mode".
  display: inline-block;
  float: left;
  width: 100%;
  height: 100%;
  background: $color-page-background;
  position: relative;
  left: 0;
  @include box-sizing(border-box);
  @include transition-property(left);
  @include transition-duration(0.25s);
  @include transition-timing-function(ease-in); 
  @include transition-delay(0);
  @include screen-format(phone) {
    position: absolute;
  }
  @include screen-format(nano) {
    position: absolute;
  }
  #ns-slide-controls.ns-section-main {}
  #ns-banner.ns-section-main {
    background: $color-tertiary;
  }
  section.ns-section-main {}
  main.ns-section-main {}
  footer.ns-section-main {}
}

body.ns-slider-expanded #ns-page-main,
body.ns-slider-expanded #ns-slide-controls.ns-section-main {
  left: 80%;
}



#ns-slide-controls.ns-section-main {
  float: left;
  width: 100%;
  height: $height-top-bar;
  background: $color-top-bar-background;
  color: $color-top-bar-text;
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  visibility: hidden;
  @include transition-property(left);
  @include transition-duration(0.25s);
  @include transition-timing-function(ease-in); 
  @include transition-delay(0);
  @include screen-format(phone) {
    display: inline-block;
    visibility: visible;
  }
  @include screen-format(nano) {
    display: inline-block;
    visibility: visible;
  }
  #ns-slide-control-left {
    display: inline-block;
    float: left;
    width: 30px;
    height: 25px;
    margin: 17px 0 0 0;
    background: transparent url("/assets/core/ns-nav-expander.png") no-repeat 0 0;
  }
}
#ns-banner.ns-section-main {}
section.ns-section-main {}
main.ns-section-main {}
footer.ns-section-main {
  background: $color-top-bar-background;
  color: $color-top-bar-text;
}



input[type="date"].ns-section-input,
input[type="datetime"].ns-section-input,
input[type="datetime-local"].ns-section-input,
input[type="email"].ns-section-input,
input[type="month"].ns-section-input,
input[type="number"].ns-section-input,
input[type="password"].ns-section-input,
input[type="search"].ns-section-input,
input[type="tel"].ns-section-input,
input[type="text"].ns-section-input,
input[type="time"].ns-section-input,
input[type="url"].ns-section-input,
input[type="week"].ns-section-input,
select.ns-section-input,
textarea.ns-section-input {
  width: 100%;
  font-size: 60px;
  line-height: 1.5em;
  color: $white;
  text-transform: uppercase;
  text-align: center;
}

input {
  @include input-placeholder {
    color: rgba(255, 255, 255, .33);
    font-size: 60px;
    line-height: 1.5em;
  }
}

#ns-scroll-1 {
  display: block;
  width: 100%;
  height: 100%;
  @include transition-property(translate);
  @include transition-duration(0.25s);
  @include transition-timing-function(ease-in); 
  @include transition-delay(0);
  > section.ns-section-main {
    height: 100%;
    min-height: 100%;

    .ns-button.ns-button-red.ns-button-cta {
      width: 100%;
      text-align: center;
    }
  }
}

#ns-scroll-2 {
  display: block;
  width: 100%;
  height: 100%;
  @include transition-property(translate);
  @include transition-duration(0.25s);
  @include transition-timing-function(ease-in); 
  @include transition-delay(0);
  > section.ns-section-main {
    height: 100%;
    min-height: 100%;
    @include screen-format(phone) {
      height: auto;
      min-height: 0;
    }
    @include screen-format(nano) {
      height: auto;
      min-height: 0;
    }
    .ns-button.ns-button-red.ns-button-cta {
      width: 100%;
      text-align: center;
    }
  }
}

#zipcode,
#submit,
#options,
#vin,
#mileage {
  @include span-columns(8 omega, 12);
  @include prefix(2);
  @include suffix(2);
  @include screen-format(phone) {
    @include span-columns(12 omega, 12);
    @include prefix(0);
    @include suffix(0);
    padding: 0 20px;
    @include box-sizing(border-box);
  }
  @include screen-format(nano) {
    @include span-columns(12 omega, 12);
    @include prefix(0);
    @include suffix(0);
    padding: 0 20px;
    @include box-sizing(border-box);
  }
}


ul#wrapper {
  padding: 20px 0 0 0;
  @include span-columns(10 omega, 12);
  @include prefix(1);
  @include suffix(1);    
  > li {
    @include span-columns(2, 10);
    @include screen-format(phone) {
      margin: 10px 0 20px 0;
      @include span-columns(5, 12);
    }
    @include screen-format(nano) {
      margin: 10px 0 20px 0;
      @include span-columns(5, 12);
    }
    > label {
      display: block;
      width: 100%;
      height: 100%;
      padding: 30px 0; 
      border: 4px solid $color-blue-light;
      cursor: pointer;
      text-align: center;
      font-size: 20px;
      line-height: 30px;
      font-weight: 600;
      font-family: $font-accent;
      text-transform: uppercase;
      color: $white;
      font-family: $font-header;
      @include box-sizing(border-box);
      @include border-radius(10px);
      @include box-shadow(0 0 1px rgba(0, 0, 0, 0.05));
    }
  }
  li:nth-child(1),
  li:nth-child(3),
  li:nth-child(5) {
    position: relative;
    top: -800px;
    @include transition-property(top);
    @include transition-duration(.5s);
    @include transition-delay(0);
    @include transition-timing-function(ease-in);
  }
  li:nth-child(2),
  li:nth-child(4) {
    position: relative;
    top: 800px;
    @include transition-property(top);
    @include transition-duration(.5s);
    @include transition-delay(0);
    @include transition-timing-function(ease-in);
  }
  > li:nth-child(1).wrapper-here,
  > li:nth-child(3).wrapper-here,
  > li:nth-child(5).wrapper-here,
  > li:nth-child(2).wrapper-here,
  > li:nth-child(4).wrapper-here {
    top: 0;
  }
  
  li:nth-child(5n){
    @include span-columns(2 omega, 10);
    @include screen-format(phone) {
      @include span-columns(5, 12);
    }
    @include screen-format(nano) {
      @include span-columns(5, 12);
    }
  }
  li:nth-child(2n){
    @include screen-format(phone) {
      @include span-columns(5 omega, 12);
    }
    @include screen-format(nano) {
      @include span-columns(5 omega, 12);
    }
  }
  li:hover {
    @include opacity(.5);
  }
}


#ns-section-vin {
  background: #63DDD6;
  > #ns-vin-effect {
    display: inline-block;
    min-width: 100%;
    min-height: 100%;
    margin: 0 auto;
    font-size: 780px;
    line-height: 100%;
    text-align: center;
    color: $color-body-text;
    font-family: $font-header;
    font-weight: 600;
    position: absolute;
    top: -100%;
    @include transition-property(top);
    @include transition-duration(0);
    @include transition-delay(0);
    @include transition-timing-function(ease-in);
    color: $color-teal-dark;
    @include screen-format(phone) {
      display: block;
    }
    @include screen-format(nano) {
      display: block;
    }
  }
  > #ns-vin-effect.ns-vin-effect-down {
    top: 100%;
    @include transition-duration(.5s);
  }
}



#ns-section-options {
  background: #F45F5C;
  position: relative;
  overflow: hidden;
  img#ns-options-left {
    width: 25%;
    position: absolute;
    top: 5%;
    left: 0;
    @include rotate(45deg);
    @include transition-property(top, left, rotate);
    @include transition-duration(.5s, .5s);
    @include transition-delay(0, 0);
    @include transition-timing-function(ease-out, ease-in, ease-in);
  }
  img#ns-options-right {
    width: 25%;
    position: absolute;
    top: 5%;
    right: 0;
    @include rotate(-45deg);
    @include transition-property(top, right, rotate);
    @include transition-duration(.75s, .75s);
    @include transition-delay(0, 0);
    @include transition-timing-function(ease-out, ease-in, ease-in);
  }
  img#ns-options-left.ns-options-left-collapse {
    width: 25%;
    position: absolute;
    top: 75%;
    left: 30%;
    @include rotate(0);
  }
  img#ns-options-right.ns-options-right-collapse {
    width: 25%;
    position: absolute;
    top: 75%;
    right: 30%;
    @include rotate(0);
  }
}
#ns-section-submit {
  background: #F45F5C;
}
#ns-section-mileage {
  background: #F8E193;
  overflow: hidden;
  position: relative;
  > #ns-mileage-effect {
    display: inline-block;
    min-width: 100%;
    min-height: 100%;
    margin: 0 auto;
    font-size: 780px;
    line-height: 100%;
    text-align: center;
    color: $color-body-text;
    font-family: $font-header;
    font-weight: 600;
    position: absolute;
    top: -100%;
    @include transition-property(top);
    @include transition-duration(0);
    @include transition-delay(0);
    @include transition-timing-function(ease-in);
    color: $color-yellow-dark;
    @include screen-format(phone) {
      display: block;
    }
    @include screen-format(nano) {
      display: block;
    }
  }
  > #ns-mileage-effect.ns-mileage-effect-down {
    top: 100%;
    @include transition-duration(.5s);
  }
}
#ns-section-zip {
  background: #63DDD6;
  position: relative;
  overflow: hidden;
  > #ns-zip-pic {
    display: inline-block;
    min-width: 100%;
    min-height: 100%;
    margin: 0 auto;
    position: absolute;
    @include filter(grayscale(100%));
    @include opacity(.25);
    @include screen-format(phone) {
      display: block;
    }
    @include screen-format(nano) {
      display: block;
    }
  }
  .ns-section-wrapper {
    .ns-section-input {
      @include opacity(.8);
    }
  }
}
#ns-section-condition {
  background: #2A3045;
  overflow: hidden;
}



#ns-section-vin,
#ns-section-options,
#ns-section-submit,
#ns-section-mileage,
#ns-section-zip,
#ns-section-condition {
  > .ns-section-wrapper {
    position: relative;
    top: 50%;
    @include translateY(-66%);
    @include screen-format(phone) {
      @include span-columns(12 omega, 12);
      @include prefix(0);
      @include suffix(0);
    }
    @include screen-format(nano) {
      @include span-columns(12 omega, 12);
      @include prefix(0);
      @include suffix(0);
    }
  }
}






.title {
  width: 100%;
  margin-bottom: 20px;
  font-size: 60px;
  line-height: 70px;
  color: $white;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  top: 105px;
  @include opacity(0);
  @include transition-property(top, opacity);
  @include transition-duration(.33s, .33s);
  @include transition-timing-function(cubic-bezier(0.17, 0.67, 0.63, 1.56), cubic-bezier(0.17, 0.67, 0.63, 1.56));
}
.title.header-here {
  top: 0;
  @include opacity(1);
}


ul#horizontal-list{
  min-width: 696px;
  list-style: none;
  padding-top: 20px;
  .description{
    margin: 0 60px 0 0;
  }
  li{
    color:white;
    display: inline;
    margin: 0 40px 0 0;
  }
}








header {}
article {} // not sure
aside {} // not sure


h1, h2, h3, h4, h5, h6 {
  font-family: $font-header;
}

h1.ns-header-basic {
  margin: 0 0 20px 0;
  font-size: 72px;
  line-height: 80px;
  font-weight: 700;
}

h2.ns-header-basic {
  margin: 0 0 20px 0;
  font-size: 48px;
  line-height: 60px;
  font-weight: 700;
}

h3.ns-header-basic {
  margin: 0 0 10px 0;
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
}

a {
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

p {}
p.ns-paragraph-basic {
  margin: 0 0 10px 0;
}

strong {
  font-weight: 700;
}
em {
  font-style: italic;
}

ol.ns-bulleted-list,
ul.ns-bulleted-list {
  > li {}
}

hr {
  width: 100%;
  height: 1px;
  padding: 0;
  margin: 15px 0 24px 0;
  border: none;
  color: $color-line;
  background: $color-line;
}







ol.ns-module-triple {
  @include span-columns(12 omega, 12);
  > li {
    margin: 0 0 20px 0;
    @include span-columns(4, 12);
    @include screen-format(phone) {
      @include span-columns(12 omega, 12);
    }
    @include screen-format(nano) {
      @include span-columns(12 omega, 12);
    }
  }
  > li:nth-child(3n) {
    @include span-columns(4 omega, 12);
    @include screen-format(phone) {
      @include span-columns(12 omega, 12);
    }
    @include screen-format(nano) {
      @include span-columns(12 omega, 12);
    }
  }
}








main#ns-home {
  height: 100%;
  background: $color-red-medium;
  @include screen-format(phone) {
    min-height: 1000px;
  }
  @include screen-format(nano) {
    min-height: 1000px;
  }
  #ns-home-container {
    display: inline-block;
    float: left;
    width: 100%;
    height: 300px;
    text-align: center;
    position: relative;
    top: 50%;
    @include translateY(-66%);
    @include span-columns(18 omega, 18);
    @include box-sizing(border-box);
    @include screen-format(tablet) {
      padding: 0 20px;
      top: 0;
      @include translateY(0);
    }
    @include screen-format(phone) {
      padding: 0 20px;
      top: 0;
      @include translateY(0);
    }
    @include screen-format(nano) {
      padding: 0 20px;
      top: 0;
      @include translateY(0);
    }
    > h1 {
      display: inline-block;
      float: left;
      width: 100%;
      margin: 0 0 58px 0;
      font-size: 48px;
      line-height: 60px;
      color: $white;
      font-weight: 200;
      text-align: center;
      text-transform: uppercase;
      @include screen-format(phone) {
        margin-top: 80px;
      }
      @include screen-format(tablet) {
        margin-top: 80px;
      }
      @include screen-format(nano) {
        margin-top: 80px;
      }
    }
    > .ns-button.ns-button-red.ns-button-cta {
      text-align: center;
      @include span-columns(5, 18);
      @include screen-format(tablet) {
        margin-bottom: 20px;
        @include span-columns(18 omega, 18);
      }
      @include screen-format(phone) {
        margin-bottom: 20px;
        @include span-columns(18 omega, 18);
      }
      @include screen-format(nano) {
        margin-bottom: 20px;
        @include span-columns(18 omega, 18);
      }
    }
    > img#ns-buyer-pic,
    > img#ns-seller-pic {
      display: inline-block;
      position: relative;
      top: -150px;
      @include span-columns(4, 18);
      @include transition-property(left, right);
      @include transition-duration(.5s, .5s);
      @include transition-delay(0, .5s);
      @include transition-timing-function(ease-in, ease-in);
      @include screen-format(tablet) {
        display: inline-block;
        float: none;
        width: 200px;
        height: 200px;
        margin: 0 auto 20px auto;
        top: 0;
        @include legacy-pie-clearfix;
      }
      @include screen-format(phone) {
        display: inline-block;
        float: none;
        width: 200px;
        height: 200px;
        margin: 0 auto 20px auto;
        top: 0;
        @include legacy-pie-clearfix;
      }
      @include screen-format(nano) {
        display: inline-block;
        float: none;
        width: 200px;
        height: 200px;
        margin: 0 auto 20px auto;
        top: 0;
        @include legacy-pie-clearfix;
      }
    }
    > img#ns-seller-pic {
      left: -25%;
    }
    > img#ns-buyer-pic {
      right: -25%;
      @include span-columns(4 omega, 18);
      @include screen-format(tablet) {
        display: inline-block;
        float: none;
        width: 200px;
        height: 200px;
        margin: 0 auto 20px auto;
        top: 0;
        @include legacy-pie-clearfix;
      }
      @include screen-format(phone) {
        display: inline-block;
        float: none;
        width: 200px;
        height: 200px;
        margin: 0 auto 20px auto;
        top: 0;
        @include legacy-pie-clearfix;
      }
      @include screen-format(nano) {
        display: inline-block;
        float: none;
        width: 200px;
        height: 200px;
        margin: 0 auto 20px auto;
        top: 0;
        @include legacy-pie-clearfix;
      }
    }
    > img#ns-seller-pic.ns-home-ready { left: 0; }
    > img#ns-buyer-pic.ns-home-ready { right: 0; }
  }
}



ol#ns-section-selector {
  padding: 15px 20px 10px 25px;
  margin-top: 100px;
  position: fixed;
  left: 60px;
  @include border-radius(10px);
  @include screen-format(phone) {
    display: none;
    visibility: hidden;
  }
  @include screen-format(nano) {
    display: none;
    visibility: hidden;
  }
  > li {
    height: 50px;
    text-align: right;
    font-size: 13px;
    line-height: 25px;
    color: $white;
    font-family: $font-accent;
    text-transform: uppercase;
    font-weight: 700;
    > a {
      color: $white;
    }
    > span.ns-selection-selector-icon {
      display: inline-block;
      width: 16px;
      height: 16px;
      margin: 0 0 0 15px;
      border: 4px solid $white;
      background: $color-red-medium;
      @include border-radius(16px);
      position: relative;
      top: 7px;
    }
  }
}
ol#ns-section-selector.ns-section-shadow-state {
  background: rgba(0, 0, 0, .33);
  @include transition-property(background);
  @include transition-duration(.5s);
  @include transition-timing-function(ease-in);
}

#ns-section-overview {
  background: $color-teal-light;
  text-align: center;
  overflow: hidden;
  > #ns-overview-pic {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: 50%;
    @include translateY(-52%);
    @include filter(grayscale(100%));
    @include opacity(.5);
    @include screen-format(phone) {
      display: block;
      top: 0;
      @include translateY(0);
    }
    @include screen-format(nano) {
      display: block;
      top: 0;
      @include translateY(0);
    }
  }
  .ns-section-wrapper {
    width: 100%;
    position: absolute;
    top: 50%;
    @include translateY(-70%);
    @include box-sizing(border-box);
    @include screen-format(phone) {
      top: 120px;
      @include translateY(0);
    }
    @include screen-format(nano) {
      top: 120px;
      @include translateY(0);
    }
    > h1 {
      font-size: 124px;
      line-height: 140px;
      text-align: center;
      text-transform: uppercase;
      @include screen-format(phone) {
        font-size: 42px;
        line-height: 50px;
      }
      @include screen-format(nano) {
        font-size: 42px;
        line-height: 50px;
      }
    }
    > h2 {
      font-size: 60px;
      line-height: 70px;
      text-align: center;
      text-transform: uppercase;
      @include screen-format(phone) {
        font-size: 24px;
        line-height: 40px;
      }
      @include screen-format(nano) {
        font-size: 24px;
        line-height: 40px;
      }
    }
  }
}
#ns-section-value {
  background: $color-red-light;
}
#ns-section-action {
  background: $color-yellow-light;
  .ns-section-wrapper {
    background: transparent url("/assets/ns-action-background.png") no-repeat center 177px;
    position: relative;
    top: 50%;
    @include translateY(-55%);
    @include screen-format(phone) {
      background: none;
      top: 0;
      @include translateY(0);
    }
    @include screen-format(nano) {
      background: none;
      top: 0;
      @include translateY(0);
    }
    > #ns-section-action-header {
      @include span-columns(8 omega, 12);
      @include prefix(2);
      @include suffix(2);
      @include screen-format(phone) {
        @include span-columns(12 omega, 12);
        @include prefix(0);
        @include suffix(0);
      }
      @include screen-format(nano) {
        @include span-columns(12 omega, 12);
        @include prefix(0);
        @include suffix(0);
      }
      > h2 {
        display: inline-block;
        width: 100%;
        padding: 12px 0 11px 0;
        margin: 117px 0 54px 0;
        font-size: 48px;
        line-height: 60px;
        text-transform: uppercase;
        background: $color-yellow-medium;
        text-align: center;
        @include border-radius(10px);
        @include box-sizing(border-box);
      }
    }
    > #ns-section-action-col1,
    > #ns-section-action-col2 {
      @include span-columns(5, 12);
      @include prefix(1);
      @include screen-format(phone) {
        margin-bottom: 54px;
        @include span-columns(12 omega, 12);
        @include prefix(0);
        @include suffix(0);
      }
      @include screen-format(nano) {
        margin-bottom: 54px;
        @include span-columns(12 omega, 12);
        @include prefix(0);
        @include suffix(0);
      }
      > .ns-button.ns-button-cta {
        width: 100%;
        margin: 0 0 26px 0;
        text-align: center;
        border-top: 4px solid $color-yellow-light;
        position: relative;
        top: -4px;
      }
      > p {
        display: inline-block;
        width: 100%;
        padding: 21px 25px 29px 25px;
        border-top: 4px solid $color-yellow-light;
        font-size: 24px;
        line-height: 40px;
        font-weight: 600;
        background: $color-yellow-medium;
        position: relative;
        top: -4px;
        @include border-radius(10px);
        @include box-sizing(border-box);
      }
    }
    > #ns-section-action-col2 {
      @include span-columns(5 omega, 12);
      @include prefix(0);
      @include suffix(1);
      @include screen-format(phone) {
        @include span-columns(12 omega, 12);
        @include prefix(0);
        @include suffix(0);
      }
      @include screen-format(nano) {
        @include span-columns(12 omega, 12);
        @include prefix(0);
        @include suffix(0);
      }
    }
  }
}





#ns-section-specs {
  background: $color-blue-dark;
  min-height: 100%;
  > .ns-section-wrapper {
    height: 100%;
    min-height: 100%;
    text-align: center;
    background: transparent url("/assets/ns-specs-background.png") repeat-y center center;
    > #ns-section-specs-header{
      > h2 {
        display: inline-block;
        padding: 93px 0 4px 0;
        background: $color-blue-dark;
        width: auto;
        margin: 0 auto 40px auto;
        text-align: center;
        border-bottom: 3px solid $color-blue-medium;
        text-transform: uppercase;
        font-size: 72px;
        line-height: 90px;
      }      
    }
    ul#ns-section-specs-col1,
    ul#ns-section-specs-col2 {
      display: block;
      float: left;
      width: 50%;
      padding: 0 100px 0 0;
      margin-bottom: 125px;
      @include box-sizing(border-box);
      @include screen-format(phone) {
        width: 100%;
        padding: 0;
        margin-bottom: 0;
      }
      @include screen-format(nano) {
        width: 100%;
        padding: 0;
        margin-bottom: 0;
      }
      > li {
        display: inline-block;
        width: 100%;
        padding: 21px 25px 29px 25px;
        margin: 0 0 20px 0;
        font-size: 18px;
        line-height: 30px;
        font-weight: 600;
        text-align: left;
        background: $color-blue-medium;
        position: relative;
        @include border-radius(10px);
        @include box-sizing(border-box);
        > p {
          position: relative;
        }
      }
      > li:after {
        content: url("/assets/ns-specs-left.png");
        position: absolute;
        right: -113px;
        top: 53px;
        @include screen-format(phone) {
          display: none;
          visibility: hidden;
        }
        @include screen-format(nano) {
          display: none;
          visibility: hidden;
        }
      }
    }
    ul#ns-section-specs-col2 {
      padding: 0 0 0 100px;
      @include screen-format(phone) {
        margin-bottom: 40px;
      }
      @include screen-format(nano) {
        margin-bottom: 40px;
      }
      @include screen-format(phone) {
        width: 100%;
        padding: 0;
      }
      @include screen-format(nano) {
        width: 100%;
        padding: 0;
      }
      > li:after {
        content: url("/assets/ns-specs-right.png");
        position: absolute;
        left: -112px;
        top: 23px;
        @include screen-format(phone) {
          display: none;
          visibility: hidden;
        }
        @include screen-format(nano) {
          display: none;
          visibility: hidden;
        }
      }
    }
  }



}





/* Z-Indices */
/************************************************/

nav.ns-section-main {     z-index: 400; }
#ns-page-main {           z-index: 300; }

nav.ns-section-main {
  @include screen-format(phone) {
                          z-index: 200; }
  @include screen-format(nano) {
                          z-index: 200; }
}





#ns-section-specs > .ns-section-wrapper ul#ns-section-specs-col1 > li > p,
#ns-section-specs > .ns-section-wrapper ul#ns-section-specs-col2 > li > p {
                          z-index: 510; } 
#ns-section-specs > .ns-section-wrapper ul#ns-section-specs-col1 > li:after,
#ns-section-specs > .ns-section-wrapper ul#ns-section-specs-col2 > li:after {
                          z-index: 500; } 

#ns-slide-controls.ns-section-main {
                          z-index: 600; }

ol#ns-section-selector {  z-index: 600; }




// --------------------------------------------------
.list {
	position: relative;
	p {
		padding: 10px;
		color: white;	
	}
}
.picture {
	background: image-url('Audi.jpg');
	width: 200px;
	height: 200px;
	background-size: 100% 100%;
}
.inventory {
	padding-top: 30px;
	.row {
		margin-bottom: 15px;
	}
	.info {
		background-color: #B28500;
	}
	background-color:#2B3046;
	.btn {
		float:right;
		margin-top: 150px;
		margin-right: 19px;
	}
}
// --------------------------------------------------








#ns-catalog-facets {
  background: $color-blue-dark;
  color: $white;
  height: 660px;
  @include screen-format(phone) {
    height: auto;
  }
  @include screen-format(nano) {
    height: auto;
  }
  h1 {
    margin: 161px 0 55px 0;
    text-align: center;
    font-size: 60px;
    line-height: 70px;
    text-transform: uppercase;
    > span {
      position: relative;
      top: 100px;
      @include transition-property(top);
      @include transition-duration(.33s);
      @include transition-timing-function(cubic-bezier(0.17, 0.67, 0.63, 1.56));
    }
    > span.ns-title-bounce {
      top: 0;
    }
  }
  form {
    @include span-columns(8 omega, 12);
    @include prefix(2);
    @include suffix(2);
    @include screen-format(phone) {
      @include span-columns(12 omega, 12);
      @include prefix(0);
      @include suffix(0);
    }
    @include screen-format(nano) {
      @include span-columns(12 omega, 12);
      @include prefix(0);
      @include suffix(0);
    }
    label {
      margin: 0 0 2px 0;
      font-family: $font-header;
      font-size: 24px;
      line-height: 20px;
      color: $white;
      text-transform: uppercase;
    }
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="email"],
    input[type="month"],
    input[type="number"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="text"],
    input[type="time"],
    input[type="url"],
    input[type="week"],
    select,
    textarea {
      width: 100%;
      padding: 9px 9px 13px 9px;
      color: $white;
      text-transform: uppercase;
      font-size: 24px;
      line-height: 30px;
    }
    select {
      height: 60px;
    }
    button {
      width: 100%;
      padding: 14px 9px 16px 9px;
      color: $white;
      text-transform: uppercase;
      font-size: 24px;
      line-height: 30px;
      position: relative;
      top: 37px;
      @include screen-format(phone) {
        margin: 0 0 60px 0;
      }
      @include screen-format(nano) {
        margin: 0 0 60px 0;
      }
    }
    > #ns-catalog-facets-1 {
      margin: 0 0 29px 0;
      @include span-columns(8 omega, 8);
      @include screen-format(phone) {
        margin: 0;
        @include span-columns(12 omega, 12);
      }
      @include screen-format(nano) {
        margin: 0;
        @include span-columns(12 omega, 12);
      }
      > #ns-catalog-facets-year {
        position: relative;
        left: 300%;
        @include transition-delay(.25s);
        @include span-columns(2, 10);
      }
      > #ns-catalog-facets-make {
        position: relative;
        left: 300%;
        @include transition-delay(.5s);
        @include span-columns(3, 10);
      }
      > #ns-catalog-facets-model {
        position: relative;
        left: 300%;
        @include transition-delay(.75s);
        @include span-columns(3, 10);
      }
      > #ns-catalog-facets-zip {
        position: relative;
        left: 300%;
        @include transition-delay(1s);
        @include span-columns(2 omega, 10);
      }
    }
    > #ns-catalog-facets-2 {
      margin: 0 0 20px 0;
      @include span-columns(10 omega, 10);
      @include screen-format(phone) {
        @include span-columns(12 omega, 12);
      }
      @include screen-format(nano) {
        @include span-columns(12 omega, 12);
      }
      > #ns-catalog-facets-price-low {
        position: relative;
        left: 300%;
        @include transition-delay(1s);
        @include span-columns(4, 10);
      }
      > #ns-catalog-facets-price-high {
        position: relative;
        left: 300%;
        @include transition-delay(1.25s);
        @include span-columns(4, 10);
      }
      > #ns-catalog-facets-submit {
        position: relative;
        left: 300%;
        @include transition-delay(1.5s);
        @include span-columns(2 omega, 10);
      }
    }
    > #ns-catalog-facets-1.ns-facets-in {
      > #ns-catalog-facets-year,
      > #ns-catalog-facets-make,
      > #ns-catalog-facets-model,
      > #ns-catalog-facets-zip {
        left: 0;
        @include transition-property(left);
        @include transition-duration(.5s);
        @include transition-timing-function(ease-out);
        @include screen-format(phone) {
          margin: 0 0 20px 0;
          @include span-columns(12 omega, 12);
        }
        @include screen-format(nano) {
          margin: 0 0 20px 0;
          @include span-columns(12 omega, 12);
        }
      }
    }
    > #ns-catalog-facets-2.ns-facets-in {
      > #ns-catalog-facets-price-low,
      > #ns-catalog-facets-price-high,
      > #ns-catalog-facets-submit {
        left: 0;
        @include transition-property(left);
        @include transition-duration(.5s);
        @include transition-timing-function(ease-out);
        @include screen-format(phone) {
          margin: 0 0 20px 0;
          @include span-columns(12 omega, 12);
        }
        @include screen-format(nano) {
          margin: 0 0 20px 0;
          @include span-columns(12 omega, 12);
        }
      }
    }
  }
}
#ns-catalog {
  background: #d4d6da;
}







// This type of data table is convertible to a tiled list view. The tiled list view is togged on by adding the "md-table-convertible-toggle" class to this table tag.

.md-table-tools {
  margin: 40px 0 10px 0;
  @include span-columns(12 omega, 12);
  .md-table-tools-left {
    display: inline-block;
    float: left;
    > label {
      color: $color-body-text;
      font-family: $font-header;
      text-transform: uppercase;
      font-size: 20px;
      line-height: 30px;
      position: relative;
      top: 4px;
    }
    @include screen-format(phone) {
      width: 100%;
      margin: 0 0 20px 0;
      text-align: center;
    }
    @include screen-format(nano) {
      width: 100%;
      margin: 0 0 20px 0;
      text-align: center;
    }
  }
  .md-table-tools-right {
    display: inline-block;
    float: right;
    @include screen-format(phone) {
      width: 100%;
      margin: 0 0 20px 0;
    }
    @include screen-format(nano) {
      width: 100%;
      margin: 0 0 20px 0;
    }
    > button {
      @include screen-format(phone) {
        width: 100%;
      }
      @include screen-format(nano) {
        width: 100%;
      }
    }
  }
}

table.md-table-backoffice,
table.md-table-convertible {
  width: 100%;
  margin: 0 0 40px 0;
  background: $white;
  color: $color-body-text;
  font-size: 16px;
  line-height: 30px;
  @include border-radius(5px);
  > thead {
    > tr {
      > th {
        padding: 4px 10px 3px 10px;
        border-top: 1px solid $color-table-line;
        border-bottom: 1px solid $color-table-line;
        background: rgba(255, 255, 255, .75);
        font-weight: 700;
        white-space: nowrap;
      }
      > th.md-sortable-column {
        cursor: pointer;
        i.ss-icon {
          font-size: 8px;
        }
      }
      > th.md-sortable-column:hover,
      > th.md-sortable-column-current {
        background: $color-table-line;
      }
    } 
  }
  > tbody {
    > tr {
      > td {
        padding: 7px 10px 8px 10px;
        border-bottom: 1px solid $color-table-line;
        white-space: nowrap;
        cursor: pointer;
        span.md-table-convertible-label {
          display: none;
          visibility: hidden;
        }
      }
    }
    > tr:nth-child(odd) {
      > td {
        background: $color-table-zebra;
      }
    }
    > tr:hover {
      > td {
        background: $color-table-line;
      }
    }
    > tr.md-table-convertible-current-row {
      > td {
        background: $color-table-line;
      }
    }
  }
}

table.md-table-backoffice {
  > tbody {
    > tr {
      > td {
        white-space: normal;
        cursor: default;
      }
    }
    > tr:hover {
      > td {
        background: transparent;
      }
    }
  }
}

// These are the styles for the table when it displays in its tiled list view.
table.md-table-convertible.md-table-convertible-toggle {
  display: inline-block;
  float: left;
  width: 100%;
  @include box-sizing(border-box);
  > thead {
    display: none;
    visibility: hidden;
  }
  > tbody {
    @include box-sizing(border-box);
    @include span-columns(12 omega, 12);
    > tr {
      padding: 20px;
      margin-bottom: 20px;
      background: $white;
      @include border-radius(2px);
      @include box-sizing(border-box);
      @include span-columns(4, 12);
      @include screen-format(phone) {
        @include span-columns(12 omega, 12);
      }
      @include screen-format(nano) {
        @include span-columns(12 omega, 12);
      }
      > td {
        padding: 0;
        @include box-sizing(border-box);
        @include span-columns(4 omega, 4);
        span.md-table-convertible-label {;
          visibility: visible;
          font-weight: 700;
          @include span-columns(2, 5);
        }
        .md-button,
        input[type="submit"],
        button {
          margin: 10px 0;
        }
      }
      > td:nth-child(1) {
        border-top: 1px solid $color-table-line;
      }
    }
    > tr:nth-child(3n) {
      @include span-columns(4 omega, 12);
      @include screen-format(phone) {
        @include span-columns(12 omega, 12);
      }
      @include screen-format(nano) {
        @include span-columns(12 omega, 12);
      }
    }
    > tr:nth-child(odd) {
      td {
        background: none;
      }
    }
    > tr:hover {
      td {
        background: none;
      }
    }
    > tr.md-table-convertible-current-row {
      > td {
        background: $white;
      }
    }
  }
}
// These are the styles for the table when it displays in its tiled list view.
table.md-table-convertible,
table.md-table-convertible.md-table-convertible-toggle {
  @include screen-format(phone) {
    display: inline-block;
    float: left;
    width: 100%;
    @include box-sizing(border-box);
  }
  @include screen-format(nano) {
    display: inline-block;
    float: left;
    width: 100%;
    @include box-sizing(border-box);
  }
  > thead {
    @include screen-format(phone) {
      display: none;
      visibility: hidden;
    }
    @include screen-format(nano) {
      display: none;
      visibility: hidden;
    }
  }
  > tbody {
    @include screen-format(phone) {
      @include box-sizing(border-box);
      @include span-columns(12 omega, 12);
    }
    @include screen-format(nano) {
      @include box-sizing(border-box);
      @include span-columns(12 omega, 12);
    }
    > tr {
      @include screen-format(phone) {
        padding: 20px;
        margin-bottom: 20px;
        background: $white;
        @include border-radius(2px);
        @include box-sizing(border-box);
        @include span-columns(12 omega, 12);
      }
      @include screen-format(nano) {
        padding: 20px;
        margin-bottom: 20px;
        background: $white;
        @include border-radius(2px);
        @include box-sizing(border-box);
        @include span-columns(12 omega, 12);
      }
      > td {
        @include screen-format(phone) {
          padding: 0;
          @include box-sizing(border-box);
          @include span-columns(4 omega, 4);
        }
        @include screen-format(nano) {
          padding: 0;
          @include box-sizing(border-box);
          @include span-columns(4 omega, 4);
        }
        span.md-table-convertible-label {
          @include screen-format(phone) {
            visibility: visible;
            font-weight: 700;
            @include span-columns(2, 5);
          }
          @include screen-format(nano) {
            visibility: visible;
            font-weight: 700;
            @include span-columns(2, 5);
          }
        }
        .md-button,
        input[type="submit"],
        button {
          @include screen-format(phone) {
            margin: 10px 0;
          }
          @include screen-format(nano) {
            margin: 10px 0;
          }
        }
      }
      > td:nth-child(1) {
        @include screen-format(phone) {
          border-top: 1px solid $color-table-line;
        }
        @include screen-format(nano) {
          border-top: 1px solid $color-table-line;
        }
      }
    }
    > tr:hover {
      > td {
        @include screen-format(phone) {
          background: none;
          cursor: default;
        }
        @include screen-format(nano) {
          background: none;
          cursor: default;
        }
      }
    }
    > tr:nth-child(3n) {
      @include screen-format(phone) {
        @include span-columns(12 omega, 12);
      }
      @include screen-format(nano) {
        @include span-columns(12 omega, 12);
      }
    }
    > tr.md-table-convertible-current-row {
      > td {
        @include screen-format(phone) {
          background: $white;
        }
        @include screen-format(nano) {
          background: $white;
        }
      }
    }
  }
}
