
<section id="ns-catalog-facets" class="ns-section-main">
  <div class="ns-section-wrapper">

    <h1>
      <span
        ng-repeat="letter in pageTitle track by $index"
        ng-class="{ 'ns-title-bounce': bounceReady == true }">{{letter}}</span>
    </h1>

    <form>
      <div id="ns-catalog-facets-1" ng-class="{ 'ns-facets-in' : pageReady == true }">
        <div id="ns-catalog-facets-year">
          <label>Year:</label>
          <input type="text" ng-model="model.year" />
        </div>
        <!-- #ns-catalog-facets-year -->
        <div id="ns-catalog-facets-zip">
          <label>Zip:</label>
          <input type="text" ng-model="model.zipcode" />
        </div>
        <!-- #ns-catalog-facets-zip -->
        <div id="ns-catalog-facets-make">
          <label>Make:</label>
          <select class="ns-section-input" ng-model="model.make">
            <option ng-repeat="option in car_makes" value="{{option}}">{{option}}</option>
          </select>
        </div>
        <!-- #ns-catalog-facets-make -->
        <div id="ns-catalog-facets-model">
          <label>Model:</label>
          <select class="ns-section-input" ng-disabled="current_car_models.length == 0" ng-model="model.model">
            <option ng-repeat="option in current_car_models" value="{{option}}">{{option}}</option>
          </select>
        </div>
        <!-- #ns-catalog-facets-model -->
      </div>
      <!-- #ns-catalog-facets-1 -->
      <div id="ns-catalog-facets-2" ng-class="{ 'ns-facets-in' : pageReady == true }">
        <div id="ns-catalog-facets-price-low">
          <label>Price (Low):</label>
          <input type="text" ng-model="model.price_low" />
        </div>
        <!-- #ns-catalog-facets-price-low -->
        <div id="ns-catalog-facets-price-high">
          <label>Price (High):</label>
          <input type="text" ng-model="model.price_high" />
        </div>
        <!-- #ns-catalog-facets-price-high -->
        <div id="ns-catalog-facets-submit">
          <button>Submit</button>
        </div>
        <!-- #ns-catalog-facets-submit -->
      </div>
      <!-- #ns-catalog-facets-2 -->
    </form>

  </div>
  <!-- .ns-section-wrapper -->
</section>
<!-- #ns-catalog-facets.ns-section-main -->








<section id="ns-catalog" class="ns-section-main">
  <div class="ns-section-wrapper">

    <div class="md-table-tools">
      <div class="md-table-tools-left">
        <label>We found 94 great cars for you.</label>
      </div>
      <!-- .md-table-tools-left -->
      <div class="md-table-tools-right">
        <button class="md-hide-nano md-hide-phone" ng-click="tableView = !tableView">Toggle View</button>
      </div>
      <!-- .md-table-tools-right -->
    </div>
    <!-- .md-table-tools -->

    <div class="md-table-wrapper">
      <table class="md-table-convertible" class="md-table-convertible" ng-class="{ 'md-table-convertible-toggle' : tableView }">
        <colgroup>
          <col />
          <col />
          <col />
          <col />
          <col />
          <col />
          <col />
        </colgroup>
        <thead>
          <tr>
            <th>Make:</th>
            <th>Model:</th>
            <th>Colors:</th>
            <th>Year:</th>
            <th>Zip:</th>
            <th>VIN:</th>
            <th>Price:</th>
            <th></th>
          </tr>
        </thead>
        <tbody>

          <tr ng-repeat="row in results" ng-show="showRow(row)">
            <td>{{ row.make }}</td>
            <td>{{ row.model }}</td>
            <td>{{ row.exteriorGenericColor }}</td>
            <td>{{ row.year }}</td>
            <td>{{ row.zipcode }}</td>
            <td>{{ row.vin }}</td>
            <td>${{ row.inventoryPrice | number }}</td>
            <td><a href="{{row.referral}}">More Info</a></td>
          </tr>

          <tr ng-hide="results == null || results != []">
            <td colspan="8" style="text-align: center;">
              No results were found for this search. Please try again!
            </td>
          </tr>

          <tr ng-hide="results != null">
            <td colspan="8" style="text-align: center;">
              Please enter in search criteria above!
            </td>
          </tr>
        </tbody>
      </table>
      <!-- .md-table-convertible -->
    </div>
    <!-- .md-table-wrapper -->

  </div>
  <!-- .ns-section-wrapper -->
</section>
<!-- #ns-catalog.ns-section-main -->






  