<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<div class="ns-section-wrapper">
	<div class="ns-section-main">
		<div class ="inventory">
			<div class="container">
				<div class= "row">
					<div class= "col-md-4 picture">	
					</div>
					<div class= "col-md-8 info">
							<button type="submit" class="btn btn-default">Make Me Sell</button>
						<div class="list">
							<p> Inventory </p>
							<p> Color </p>
							<p> Mileage </p>
							<p> Price </p>
						</div>
					</div>
				</div>
				<div class= "row">
					<div class= "col-md-4 picture">
					</div>
					<div class= "col-md-8 info">
							<button type="submit" class="btn btn-default">For Sale</button>
						<div class="list">
							<p> Inventory </p>
							<p> Color </p>
							<p> Mileage </p>
							<p> Price </p>	
						</div>
					</div>
				</div>
				<div class= "row">
					<div class= "col-md-4 picture">		
						<!-- <div class="picture">
							<%= image_tag "Audi.jpg", :class => "picture"   %>
						</div>		 -->
					</div>
					<div class= "col-md-8 info">
							<button type="submit" class="btn btn-default">For Sale by Partner</button>
						<div class="list">
							<p> Inventory </p>
							<p> Color </p>
							<p> Mileage </p>
							<p> Price </p>
						</div>	
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

