
  <main id="ns-home" class="ns-section-main">

    <div id="ns-home-container">

      <h1>Smarter car buying and selling.</h1>

      <img id="ns-seller-pic" src="<%= asset_url( "ns-buyer.png" ) %>"/>

      <a class="ns-button ns-button-red ns-button-cta" href="/buy">I'm a Buyer</a>
      <a class="ns-button ns-button-red ns-button-cta" href="/sell">I'm a Seller</a>

      <img id="ns-buyer-pic" src="<%= asset_url( "ns-seller.png" ) %>" />

    </div>
    <!-- #ns-home-container -->

  </main>
  <!-- main#ns-home main.ns-section-main -->






