
  <main id="ns-home" class="ns-section-main">

    <div id="ns-home-container">

      <h1>Smarter car buying and selling.</h1>

      <%= image_tag "ns-buyer.png", :id => "ns-seller-pic" %>

      <a class="ns-button ns-button-red ns-button-cta" href="/catalog">I'm a Buyer</a>
      <a class="ns-button ns-button-red ns-button-cta" href="/sell">I'm a Seller</a>

      <%= image_tag "ns-seller.png", :id => "ns-buyer-pic" %>

    </div>
    <!-- #ns-home-container -->

  </main>
  <!-- main#ns-home main.ns-section-main -->






