
  <main id="ns-home" class="ns-section-main">

    <div id="ns-home-container">

      <h1>Smarter car buying and selling.</h1>

      <img ng-class="{'ns-home-ready': pageReady == true}" id="ns-seller-pic" src="/assets/ns-buyer.png" />

      <a class="ns-button ns-button-red ns-button-cta" href="/catalog">I'm a Buyer</a>
      <a class="ns-button ns-button-red ns-button-cta" href="/sell">I'm a Seller</a>

      <img ng-class="{'ns-home-ready': pageReady == true}" id="ns-buyer-pic" src="/assets/ns-seller.png" />

    </div>
    <!-- #ns-home-container -->

  </main>
  <!-- main#ns-home main.ns-section-main -->






