<div class="ns-section-wrapper">
	
	<div class="ns-section-main">
		<div class ="mileage">
	<h3> Mileage </h3>
	
	<center><input type="text" id="form_options" placeholder="Enter Your Mileage here"> </center>
		</div>

<section>		
	<div class ="zip_code">
		<h3> Zip Code </h3>
	<center><input type="text" id="form_options" placeholder="Enter Your Zip Code here"> </center>
	</div>
	
</section>
<section>
	<div class ="Submit">
		
	<input type="submit" class>
			

	</div>
</section>		
	</div>
</div>
