<ol id="ns-section-selector">
  <li>
    <a data-scroll href="#ns-section-overview">Overview</a>
    <span class="ns-selection-selector-icon"></span><!-- .ns-selection-selector-icon -->
  </li>
  <li>
    <a data-scroll href="#ns-section-value">When to Sell</a>
    <span class="ns-selection-selector-icon"></span><!-- .ns-selection-selector-icon -->
  </li>
  <li>
    <a data-scroll href="#ns-section-action">Take Action</a>
    <span class="ns-selection-selector-icon"></span><!-- .ns-selection-selector-icon -->
  </li>
  <li>
    <a data-scroll href="#ns-section-specs">Vehicle Specs</a>
    <span class="ns-selection-selector-icon"></span><!-- .ns-selection-selector-icon -->
  </li>
</ol>
<!-- #ns-section-selector -->

<div id="ns-scroll-2">

  <section id="ns-section-overview" class="ns-section-main">
    <img id="ns-overview-pic" src="/assets/ns-car.jpg" />
    <div class="ns-section-wrapper">
      <h1>2014 Acura MDX</h1>
      <h2>Estimated Value: $42,290</h2>
    </div>
    <!-- .ns-section-wrapper -->
  </section>
  <!-- #ns-section-overview .ns-section-main -->

  <section id="ns-section-value" class="ns-section-main">
    <auto-graph miles="41532" value="20000" style="height: 500px; display: block;"></auto-graph>
  </section>
  <!-- #ns-section-value .ns-section-main -->


  <section id="ns-section-action" class="ns-section-main">
    <div class="ns-section-wrapper">
      <div id="ns-section-action-header">
        <h2>What’s the next step?</h2>
      </div>
      <!-- #ns-section-action-header -->
      <div id="ns-section-action-col1">
        <a class="ns-button ns-button-cta" href="#">List My Car</a>
        <p>Reach out to over 60,000 buyers per day through our online auto sales platform. Listing your car is fast and easy - get started today!</p>
      </div>
      <!-- #ns-section-action-col1 -->
      <div id="ns-section-action-col2">
        <a class="ns-button ns-button-cta" href="#">Make Me Sell</a>
        <p>Not ready to sell? Find a buyer who will show you the money and make you an offer you can’t refuse. Start today absolutely free!</p>
      </div>
      <!-- #ns-section-action-col2 -->
    </div>
    <!-- .ns-section-wrapper -->
  </section>
  <!-- #ns-section-action .ns-section-main -->


  <section id="ns-section-specs" class="ns-section-main">
    <div class="ns-section-wrapper">
      <div id="ns-section-specs-header">
        <h2>All About My Car</h2>
      </div>
      <!-- #ns-section-specs-header -->
      <ul id="ns-section-specs-col1">
        <li>
          <p>Reach out to over 60,000 buyers per day through our online auto sales platform. Listing your car is fast and easy - get started today!</p>
        </li>
        <li>
          <p>Reach out to over 60,000 buyers per day through our online auto sales platform. Listing your car is fast and easy - get started today!</p>
        </li>
        <li>
          <p>Reach out to over 60,000 buyers per day through our online auto sales platform. Listing your car is fast and easy - get started today!</p>
        </li>
      </ul>
      <!-- #ns-section-action-col1 -->
      <ul id="ns-section-specs-col2">
        <li>
          <p>Reach out to over 60,000 buyers per day through our online auto sales platform. Listing your car is fast and easy - get started today!</p>
        </li>
        <li>
          <p>Reach out to over 60,000 buyers per day through our online auto sales platform. Listing your car is fast and easy - get started today!</p>
        </li>
        <li>
          <p>Reach out to over 60,000 buyers per day through our online auto sales platform. Listing your car is fast and easy - get started today!</p>
        </li>
      </ul>
      <!-- #ns-section-action-col2 -->

    </div>
    <!-- .ns-section-wrapper -->
  </section>
  <!-- #ns-section-specs .ns-section-main -->

</div>
<!-- #ns-scroll -->







