<ol id="ns-section-selector">
  <li>
    Overview
    <span class="ns-selection-selector-icon"></span><!-- .ns-selection-selector-icon -->
  </li>
  <li>
    When to Sell
    <span class="ns-selection-selector-icon"></span><!-- .ns-selection-selector-icon -->
  </li>
  <li>
    Take Action
    <span class="ns-selection-selector-icon"></span><!-- .ns-selection-selector-icon -->
  </li>
  <li>
    Vehicle Specs
    <span class="ns-selection-selector-icon"></span><!-- .ns-selection-selector-icon -->
  </li>
</ol>
<!-- #ns-section-selector -->


<div id="ns-section-overview" class="ns-section-main">
  <img id="ns-overview-pic" src="/assets/ns-car.jpg" />
  <div class="ns-section-wrapper">
    <h1>2014 Acura MDX</h1>
    <h2>Estimated Value: $42,290</h2>
  </div>
  <!-- .ns-section-wrapper -->
</div>
<!-- #ns-section-overview .ns-section-main -->

<div id="ns-section-value" class="ns-section-main">
  <div class="ns-section-wrapper">
    Section
  </div>
  <!-- .ns-section-wrapper -->
</div>
<!-- #ns-section-value .ns-section-main -->


<div id="ns-section-action" class="ns-section-main">
  <div class="ns-section-wrapper">
    Section
  </div>
  <!-- .ns-section-wrapper -->
</div>
<!-- #ns-section-action .ns-section-main -->


<div id="ns-section-specs" class="ns-section-main">
  <div class="ns-section-wrapper">
    Section
  </div>
  <!-- .ns-section-wrapper -->
</div>
<!-- #ns-section-specs .ns-section-main -->



